<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="people"></ion-icon>
            <ion-label>Fiches perso</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Attestations</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="help-circle"></ion-icon>
            <ion-label>À propos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>