ion-content ion-toolbar {
    --background: translucent;
    .toolbar-title {
        text-overflow: inherit;
        white-space: normal;
    }
}

ion-button.raz {
    padding-inline-end: 10px;
}

.iconCustom {
    width: 24px;
    height: 24px;
    margin-left: unset;
    margin-inline-start: 16px;
}