ion-content ion-toolbar {
    --background: translucent;
}

ion-card-title {
    text-transform: uppercase;
    width: 100%;
}

ion-button.raz {
    padding-inline-end: 10px;
}

ion-title.tab1_title {
    padding-inline-end: 10px;
}

ion-toggle {
    padding-inline-start: 0;
    padding-inline-end: 0px;
    --handle-background: #fff no-repeat center/80% url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ESunny%3C/title%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32' d='M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94'/%3E%3Ccircle cx='256' cy='256' r='80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/%3E%3C/svg%3E");
    --handle-background-checked: #18191a no-repeat center/80% url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' class='ionicon' viewBox='0 0 512 512' version='1.1' id='svg6' sodipodi:docname='moon-outline.svg' inkscape:version='1.0.1 (1.0.1+r73)'%3E%3Cmetadata id='metadata12'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs10' /%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1024' inkscape:window-height='1251' id='namedview8' showgrid='false' inkscape:zoom='1.0527344' inkscape:cx='98.790353' inkscape:cy='256' inkscape:window-x='0' inkscape:window-y='51' inkscape:window-maximized='1' inkscape:current-layer='svg6' /%3E%3Ctitle id='title2'%3EMoon%3C/title%3E%3Cpath d='M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' id='path4' style='stroke:%23ffffff;stroke-opacity:1' /%3E%3C/svg%3E%0A");
    --background-checked: #3a3b3c; //#878787
}

ion-item.toggle_container {
    --background: none;
    --background-activated-opacity: none;
    --highlight-color-focused: none;
    --color-activated: none;
    --color-focused: none;
    --color-hover: none;
    --highlight-background: unset;
    --background-activated: unset;
    --transition: none;
    --inner-border-width: 0;
    width: 85px;
}

.remove {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    float: right;
    width: 100px;
}

.remove ion-icon {
    font-size: 1.5em;
}

.remove ion-icon:hover {
    color: #FF576D;
}