<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="tab1_title">
            Données personnelles
        </ion-title>
        <ion-item class='toggle_container' slot="end" lines="none">
            <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()" slot="end" mode="ios"></ion-toggle>
        </ion-item>
        <ion-button class="raz" slot="end" color="danger" (click)="data.razBio()">RAZ</ion-button>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="data.listePax">
        <ion-list *ngFor="let pax of data.listePax">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-icon name="person"></ion-icon> {{pax.prenom}}
                        <button class="remove" ion-button icon-only clear item-end (click)="delPax(pax.prenom)">
                        <ion-icon name='trash' icon-end class="icon_trash"></ion-icon>
                        </button>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">Nom</ion-label>
                        <ion-input [(ngModel)]="pax.nom" placeholder="Némar"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Prénom</ion-label>
                        <ion-input [(ngModel)]="pax.prenom" placeholder="Jean"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Date de naissance</ion-label>
                        <ion-datetime value="null" min="1905-01-01" max="2022-12-01" monthNames="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre" monthShortNames=" Janv., Févr., Mars, Avr., Mai, Juin, Juil., Août, Sept., Oct., Nov., Déc."
                            doneText="Ok" cancelText="Annuler" placeholder="01/01/1970" pickerFormat="DD MMMM YYYY" displayFormat="DD/MM/YYYY" [(ngModel)]="pax.dateDN">
                        </ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Lieu de naissance</ion-label>
                        <ion-input [(ngModel)]="pax.villeNaissance" placeholder="Banlieueville"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Adresse</ion-label>
                        <ion-input [(ngModel)]="pax.adresse" placeholder="999 avenue déserte"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Ville</ion-label>
                        <ion-input [(ngModel)]="pax.ville" placeholder="Poneyville"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Code Postal</ion-label>
                        <ion-input [(ngModel)]="pax.cp" inputmode="numeric" placeholder="75000" pattern="^(([0-8][0-9])|(9[0-5]))[0-9]{3}$"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPax()">
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>