<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            À propos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-text>
        <p>Cette application a été créé pour fonctionner sans internet et se base sur le formulaire officiel. C'est une alternative hors-ligne à l'application TousAntiCovid lancée par le Gouvernement le 22 octobre 2020.
        </p>
        <p>La priorité a été donnée à la vie privée. En effet, l'application fonctionne en local sur le téléphone et ne contacte aucun serveur pour éviter les divulgations d'activité via les logs d'ip et de cookies. Les données sont stockées uniquement sur
            le téléphone pour faciliter la génération de nouvelles attestations et sont facilement effaçables via les boutons "RAZ".
        </p>
        <p>La possibilité de sélectionner plusieurs motifs n'est pas un bug, c'est une fonctionnalité que l'on retrouve sur l'application officielle. Elle correspond à une recommandation officielle du ministère de l’intérieur lisible sur leur site :</p>
        <blockquote><i>Vous êtes incités à limiter vos sorties aux cas limitatifs énumérés, il est donc conseillé de grouper vos sorties et il est donc possible d’indiquer plusieurs motifs.</i></blockquote>
        <p>Parce qu'il n'y a pas d'assurance sans transparence, le code source est bien entendu disponible sur <a href="https://gitlab.com/A1CY0N/covid_french_attestation">gitlab</a>.</p>

        <p>N'hésitez pas à faire remonter des idées d'amélioration !</p>
    </ion-text>

</ion-content>